<div class="card" *ngIf="buffer; else elseBlock">
  <div class="card-body">
    Uploading your new task...
  </div>
</div>

<ng-template #elseBlock>
  <div class="card mt-2">
    <div class="card-body">
      <div class="input-group mb-3 w-50 mx-auto">
        <input type="text" [(ngModel)]="title" class="form-control" placeholder="Write a new task" aria-label="new task" aria-describedby="button-addon2">
        <button class="btn btn-secondary" (click)="add()" type="button" id="button-addon2"><i class="bi bi-plus"></i></button>
      </div>
    </div>
  </div>
  </ng-template>



