<nav class="navbar navbar-expand-lg bg-dark sticky-top">
  <div class="container-fluid text-center ">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <button type="button" class="btn btn-secondary me-3" [routerLink]="['/todolist']" routerLinkActive="router-link-active"  href="#">To Do List</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-secondary" [routerLink]="['/completedlist']" routerLinkActive="router-link-active"  href="#">Completed</button>
        </li>
      </ul>
    </div>
</nav>
