<div class="card" *ngIf="buffer; else elseBlock1">
  <div class="card-body">
    Updating your tasks...
  </div>
</div>

<ng-template #elseBlock1>
<div class="card" *ngIf="listArr.length > 0; else elseBlock2">
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let task of listArr">
        {{task.title}}
        <button type="button" (click)="completeTask(task)" class="btn btn-success btn-sm"><i class="bi bi-check"></i></button>
        <button type="button" (click)="removeTask(task)" class="btn btn-danger btn-sm"><i class="bi bi-trash-fill"></i></button>
      </li>
    </ul>
  </div>
</div>
</ng-template>

<ng-template #elseBlock2>
  <div class="card">
    <div class="card-body">
      There are no tasks to complete, are you lazy?
    </div>
  </div>
</ng-template>
